<form method="post" action="{{ path('app_equipment_activate', {'id': equipment.id}) }}" onsubmit="">
    <input type="hidden" name="_token" value="{{ csrf_token('activate' ~ equipment.id) }}">
    <button class="btn btn-danger">Activer</button>
</form>
