<form method="post" action="{{ path('app_equipment_delete', {'id': equipment.id}) }}" onsubmit="return confirm('Etes-vous sûr(e) de vouloir supprimer cet item ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ equipment.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
