<form method="post" action="{{ path('app_equipment_desactivate', {'id': equipment.id}) }}" onsubmit="">
    <input type="hidden" name="_token" value="{{ csrf_token('desactivate' ~ equipment.id) }}">
    <button class="btn btn-danger">Désactiver</button>
</form>
