<form method="post" action="{{ path('app_rental_activate', {'id': rental.id}) }}" onsubmit="">
    <input type="hidden" name="_token" value="{{ csrf_token('activate' ~ rental.id) }}">
    <button class="btn btn-primary">Activer</button>
</form>
