<form method="post" action="{{ path('app_rental_desactivate', {'id': rental.id}) }}" onsubmit="">
    <input type="hidden" name="_token" value="{{ csrf_token('desactivate' ~ rental.id) }}">
    <button class="btn btn-danger">Désactiver</button>
</form>
