{% extends 'base.html.twig' %}

{% block title %}Edition de la location{% endblock %}

{% block body %}
    <h1>Modifier la location</h1>

    <h2>{{ rental.title }}</h2>

    {{ include('rental/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <div class="action-buttons">
        <a href="{{path('app_rental_index')}}" class="btn btn-back">
            <i class="fas fa-arrow-left"></i>
            Retour à la liste
        </a>
        {{ include('rental/_delete_form.html.twig') }}
    </div>
{% endblock %}
