<form method="post" action="{{ path('app_user_activate', {'id': user.id}) }}" onsubmit="">
    <input type="hidden" name="_token" value="{{ csrf_token('activate' ~ user.id) }}">
    <button class="btn btn-primary">Activer</button>
</form>
