{% extends 'base.html.twig' %}

{% block title %}Nouvelle saison{% endblock %}

{% block body %}
    <h1>Créer un nouvelle saison</h1>

    {{ include('season/_form.html.twig') }}

    <div class="action-buttons">
        <a href="{{ path('app_season_index') }}" class="btn btn-back">
                    <i class="fas fa-arrow-left"></i>
                    Retour à la liste
        </a>
    </div>
{% endblock %}
