<div class="camping-card">
	<img src="{{asset('images/types/' ~ type.imagePath)}}" alt="{{type.label}}" class="camping-image">
	<div class="camping-info">
		<h2 class="camping-title">{{type.label|slice(0,40)}}</h2>
		<div class="camping-info-container">
			<a href="#" class="btn btn-detail">Voir détail</a>
		</div>
	</div>
</div>