<form method="post" action="{{ path('app_type_desactivate', {'id': type.id}) }}" onsubmit="">
    <input type="hidden" name="_token" value="{{ csrf_token('desactivate' ~ type.id) }}">
    <button class="btn btn-danger">Désactiver</button>
</form>
