<form method="post" action="{{ path('app_reservation_client_delete', {'id': reservation.id}) }}" onsubmit="return confirm('Etes-vous sûr(e) de vouloir annuler la réservation ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reservation.id) }}">
    <button class="btn btn-danger">Annuler la réservation</button>
</form>
