{% extends 'base.html.twig' %}

{% block title %}Mes réservations{% endblock %}

{% block body %}

    <div class="camping-list-container">

        {% include "components/_dashboard_client_button.html.twig" %}

        <h1>Mes réservations</h1>

        {% include "/components/_table_reservation_client.html.twig" with {
            'title': 'Réservations',
            'reservations': reservations
        } %}

    </div>
{% endblock %}
