{% extends 'base.html.twig' %}

{% block title %}Nouveau prix{% endblock %}

{% block body %}
    <h1>Créer un nouveau prix</h1>

    {{ include('price/_form.html.twig') }}

    <div class="action-buttons">
        <a href="{{ path('app_price_index') }}" class="btn btn-back">
                    <i class="fas fa-arrow-left"></i>
                    Retour à la liste
        </a>
    </div>
{% endblock %}
