@import "~bootstrap/scss/bootstrap";

// Déclaration des variables pour les couleurs
$primary-bg: #340e4ab3;
$text-light: #f0f0f0;
$accent-color: #ff595a;
$highlight-color: #ff7300;
$text-muted: rgba(240, 240, 240, 0.6);
$overlay-bg: #27C7D4;
$dashboard-color: #55aaff;

body {
    background-color: $primary-bg;
    color: $text-light;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 100px 0;
}

a {
    color: $highlight-color;
    text-decoration: none;
    &:hover {
        color: $accent-color;
    }
}