{% extends "base.html.twig" %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <h1>Dashboard</h1>

    <div class="action-buttons">
        <a href="{{path('app_user_show', {'id': app.user.id})}}" class="btn btn-edit">Voir mon profil</a>
        <a href="{{path('app_reservation_client_index')}}" class="btn btn-edit">Voir mes réservations</a>
    </div>
{% endblock %}
